*{
	box-sizing: border-box;
}

h1 {
	text-align: center;
	color: solid black;
	font-family:  "Comic Sans MS";
	font-size: 50px;
}

p{
	width:100%;
}
.outerBox {
	position: relative;	
	float: left;
	width:100%;
	height: 200px;
	padding: 10px ;
	margin-bottom: 10px;
	margin-right: 10px;
	background: grey;
	border : 2px solid black;
	overflow: hidden;
	}

.outerBox1 {
	position: relative;	
	float: left;
	width:100%;
	height: 200px;
	padding: 10px ;
	margin-bottom: 10px;
	background: grey;
	border : 2px solid black;
	overflow: hidden;
	}

.innerBox{
	position: absolute;
	font-size:  30px;
	text-align: center;
	font-family:  "Comic Sans MS";
    height:auto;
	width:40%;
	top:0;
	right: 0;
	border: 1px solid black;
}

.insideText {
	position: absolute;
	height: auto;
	font-family:  "Comic Sans MS";
	top:50px;
	text-align: justify;
	margin-right:  10px;
}


/* Laptop View*/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
     float:left;
     }  
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 32.3%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float:left;
   }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 47.5%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

/*mobile phone*/
@media (min-width: 10px) and (max-width: 767px) {
  .col-mp-1, .col-mp-2, .col-mp-3, .col-mp-4, .col-mp-5, .col-mp-6, .col-mp-7, .col-mp-8, .col-mp-9, .col-mp-10, .col-mp-11, .col-mp-12 {
    float:left;
        }
  .col-mp-1 {
    width: 8.33%;
  }
  .col-mp-2 {
    width: 16.66%;
  }
  .col-mp-3 {
    width: 25%;
  }
  .col-mp-4 {
    width: 33.33%;
  }
  .col-mp-5 {
    width: 41.66%;
  }
  .col-mp-6 {
    width: 50%;
  }
  .col-mp-7 {
    width: 58.33%;
  }
  .col-mp-8 {
    width: 66.66%;
  }
  .col-mp-9 {
    width: 74.99%;
  }
  .col-mp-10 {
    width: 83.33%;
  }
  .col-mp-11 {
    width: 91.66%;
  }
  .col-mp-12 {
    width: 100%;
  }
}



